</div>
</div>
<script src="../../bower_components/reveal-js/lib/js/head.min.js"></script>
<script src="../../bower_components/reveal-js/js/reveal.min.js"></script>
<script>
  Reveal.initialize({
    transition: 'fade',
    transitionSpeed: 'fast',
    controls: false,
    history: true,
    dependencies: [
            {
                src: '../../bower_components/reveal-js/plugin/highlight/highlight.js',
                callback: function () { hljs.initHighlightingOnLoad(); }
            }
    ]
  });
</script>
</body>

</html>
