<!DOCTYPE html>
<html>

<head>
  <title>Full stack technologies: {{title}}</title>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="Bfn8U25UAs2R5D9Sm6oIN-bnlijCLhvm98RiKJmWgU0" />
  <link rel="stylesheet" href="../css/reveal.min.css" />
  <link rel="stylesheet" href="../css/night.css" />
  <link rel="stylesheet" href="../css/zenburn.css" />
  <link rel="stylesheet" href="../css/fullstack.css" />
</head>

<body>
  <div class="reveal">
    <div class="slides">
