<!DOCTYPE html>
<html>

<head>
  <title>Full stack technologies: {{title}}</title>
  <meta charset="utf-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="Bfn8U25UAs2R5D9Sm6oIN-bnlijCLhvm98RiKJmWgU0" />
  <meta name="description" content="An overview course for full stack web development. Giving a broad overview of the frontend, backend, devops and networks. With a focus on linting, testing, monitoring, continous integration."
  <meta property="og:image" content="http://fullstack101.xyz/images/welcome-rick-and-morty.jpg">
  <link rel="stylesheet" href="../css/reveal.min.css" />
  <link rel="stylesheet" href="../css/night.css" />
  <link rel="stylesheet" href="../css/zenburn.css" />
  <link rel="stylesheet" href="../css/fullstack.css" />
</head>

<body>
  <div class="reveal">
    <div class="slides">
