tr td:first-child {
   vertical-align: middle;
   text-align: center !important;
   border-left: none !important;
 }

 tr td:last-child {
   border-right: none !important;
 }

 tr:first-child td{
   text-align: center !important;
   padding-left: 0px !important;
 }

 tr:last-child td {
   border-bottom: none !important;
 }

 td {
   border-left: 1px dashed gray !important;
   border-bottom: 1px dashed gray !important;
   padding: 5px !important;
   padding-left: 20px !important;
 }
