body {
  font-family: "Open Sans", sans-serif;
  color: white;
}

#topics_toggle, #last_topic {
    padding: 5px;
    color: white;
    background-color: #e7ad52;
    text-shadow: none;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    float:right;
}

#last_topic {
  margin-right: 25px;
  display: none;
}

.header {
  margin: 5px;
  font-size: 1.8em;
  position: absolute;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 99999;
}

.header>.title {
  color: #eeeeee;
  font-family: "Montserrat", Impact, sans-serif;
  float:left;
}

#full_topics_list ul{
  list-style: none;
  -moz-column-count: 2;
  column-count: 2;
  column-gap: 100px;
}

#full_topics_list a {
  color: #e7ad52;
  text-decoration: none;
  margin: 1px;
}

hr {
  margin: 0px;
  margin-bottom: 5px;
  border:none;
  border-top:1px dashed gray;
  height:1px;
  width:90%;
}

.shifted-left {
  left: -30%;
}

tr td:first-child {
  vertical-align: middle;
  text-align: center !important;
  border-left: none !important;
}
tr td:last-child {
  border-right: none !important;
}
td {
  border-left: 1px dashed gray !important;
  border-bottom: 1px dashed gray !important;
  padding: 5px !important;
  padding-left: 20px !important;
}
tr:first-child td {
  text-align: center !important;
  padding-left: 0px !important;
}
tr:last-child td {
  border-bottom: none !important;
}

.goal>h4 {
  text-decoration: underline;
}
.question {
  border-bottom: 1px dashed gray !important;
}
.answer {
  margin-top: 5px !important;
}
.es5>code {
  border: 1px solid indianred;
}
.es6>code {
  border: 1px solid mediumseagreen;
}
.es7>code {
  border: 1px solid orange;
}

.color-carrot {
  color: #e7ad52;
}

.event-year {
  color: cyan;
  display: inline-block;
  margin-right: 20px;
}

.event {
  margin-bottom: 20px !important;
  border-bottom: 1px dashed gray !important;
}

pre {
  height: 100% !important;
  width: 100% !important;
}

pre>code {
  max-height: 100% !important;
  max-width: 100% !important;
}

body.print-pdf * {
  color: black !important;
}

.larger-font {
  font-size: 1.2em !important;
}

.smaller-font {
  font-size: 0.8em !important;
}

.two-columns {
  -moz-column-count: 2;
  column-count: 2;
}

code.boxed {
  background-color: #3F3F3F;
  color: #DCDCDC;
  font-size: 0.8em;
}

.top-border {
  border-top: 1px dashed gray !important;
}

.event>.title, .color-azure {
  color: #52d2e7;
}

.thin-margins {
  margin: 0 !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  padding: 0 !important;
}

ul.children-inline {
  display: inline !important;
  list-style: none;
}

ul.children-inline>li {
  display: inline !important;

}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  table {
    left: 0 !important;
  }
	table, thead, tbody, th, tr {
		display: block;
	}

	tr { border: 1px solid #ccc; }

  td:first-child {
  		display:block;
  }

}
